.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li{
    display: flex;
    align-items: center;
    padding: 2px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}
