.img {
  width: 358px;
  height: 400px;
  margin: 0 auto; /* 가로 중앙 정렬 */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/me.jpeg");
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}