.background{
  background-color: #93AAA9;
}

.container {
  width: 900px;
  height: 900px;
  margin: 0 auto; /* 가로 중앙 정렬 */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/background.jpeg");
}

.container > h1 {
  font-weight: 400;
  font-size: 100px;
  color: #425a73;
  line-height: 0.9;
  letter-spacing: -3px;
}